$menu-bar-bg: #E7EEF6;
$menu-bar-height:22px;

body{
    margin: 0;
    padding: 0;
}

.menu-bar-wrap{
    background: $menu-bar-bg;
    height: $menu-bar-height;
    padding: 2px 10px;
    box-sizing: border-box;
    .logo{
        height: 17px;
        padding: 0 10px;
    }
}

.miw-home-screen{
    img{
        height: 100vh;
        width:100%;
        position: absolute;
        z-index: -1;
    }
}